$color-primary: rgb(255, 255, 255, 0.6);
$color-secondary: rgb(36, 53, 79);
$color-accent: darkcyan;

$color-btn-text: #38A7F1;
$color-btn-accent: #24354F;

$color-bg-primary: #182334;

$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Montserrat', sans-serif;

$clip-path-primary: polygon(78% 1%, 75% 4%, 71% 6%, 73% 1%, 69% 6%, 66% 8%, 61% 8%, 57% 10%, 61% 3%, 58% 5%, 54% 10%, 56% 6%, 48% 12%, 44% 16%, 41% 17%, 38% 15%, 36% 16%, 37% 20%, 33% 20%, 29% 23%, 29% 27%, 22% 29%, 15% 34%, 22% 34%, 26% 32%, 30% 32%, 25% 37%, 18% 45%, 13% 48%, 11% 52%, 15% 50%, 12% 56%, 16% 56%, 15% 61%, 12% 67%, 18% 63%, 23% 57%, 21% 66%, 15% 71%, 12% 75%, 7% 81%, 17% 75%, 25% 71%, 15% 83%, 22% 78%, 21% 84%, 27% 79%, 32% 72%, 33% 79%, 29% 84%, 26% 87%, 37% 82%, 42% 71%, 42% 75%, 41% 84%, 48% 75%, 49% 69%, 53% 79%, 55% 66%, 57% 74%, 61% 64%, 65% 70%, 64% 58%, 66% 51%, 71% 48%, 74% 44%, 79% 41%, 79% 36%, 81% 32%, 88% 30%, 91% 23%, 85% 24%, 81% 27%, 81% 22%, 88% 18%, 83% 17%, 89% 8%, 78% 18%, 76% 22%, 73% 24%, 72% 20%, 76% 15%, 77% 9%, 84% 3%, 76% 6%);

$breakpoints: (phone: 640px, tablet: 768px, desktop: 1024px) !default;
:root {
    --color-primary: 24, 35, 52;
}