/*
NOTE - Imports
*/
@import url('https://css.gg/git-fork.css');
/* @import url(https://fonts.googleapis.com/css?family=Anonymous+Pro); */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/*
NOTE - Custom variables
*/
:root {
    --color-primary: 24, 35, 52;
    --color-secondary: 36, 53, 79;
    --color-navbar-btn: #38A7F1;
    --color-special: darkcyan;

    --color-bg-primary: #182334;

    --font-primary: 'Poppins', sans-serif;
    --font-secondary: 'Montserrat', sans-serif;

    --clip-path-primary: polygon(20% 0%, 0% 20%, 10% 53%, 0% 80%, 20% 100%, 50% 95%, 80% 100%, 100% 80%, 95% 50%, 100% 20%, 80% 0%, 50% 5%);
    --clip-path-secondary: polygon(100% 20%, 72% 40%, 100% 35%, 66% 56%, 100% 46%, 0 100%, 32% 67%, 0 72%, 33% 55%, 0 54%);
    --clip-path-special:  polygon(78% 1%, 75% 4%, 71% 6%, 73% 1%, 69% 6%, 66% 8%, 61% 8%, 57% 10%, 61% 3%, 58% 5%, 54% 10%, 56% 6%, 48% 12%, 44% 16%, 41% 17%, 38% 15%, 36% 16%, 37% 20%, 33% 20%, 29% 23%, 29% 27%, 22% 29%, 15% 34%, 22% 34%, 26% 32%, 30% 32%, 25% 37%, 18% 45%, 13% 48%, 11% 52%, 15% 50%, 12% 56%, 16% 56%, 15% 61%, 12% 67%, 18% 63%, 23% 57%, 21% 66%, 15% 71%, 12% 75%, 7% 81%, 17% 75%, 25% 71%, 15% 83%, 22% 78%, 21% 84%, 27% 79%, 32% 72%, 33% 79%, 29% 84%, 26% 87%, 37% 82%, 42% 71%, 42% 75%, 41% 84%, 48% 75%, 49% 69%, 53% 79%, 55% 66%, 57% 74%, 61% 64%, 65% 70%, 64% 58%, 66% 51%, 71% 48%, 74% 44%, 79% 41%, 79% 36%, 81% 32%, 88% 30%, 91% 23%, 85% 24%, 81% 27%, 81% 22%, 88% 18%, 83% 17%, 89% 8%, 78% 18%, 76% 22%, 73% 24%, 72% 20%, 76% 15%, 77% 9%, 84% 3%, 76% 6%);
}

/*
NOTE - Utilities
*/
.flex {
    display: flex;
    gap: 10px;
}

.sticky {
    position: sticky;
    top: 0;
    height: fit-content;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.container {
    margin-right: auto;
    margin-left: auto;
    width: 1500px;
}

/*
NOTE - Main tags
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

    font-family: var(--font-primary)
}

body {
    display: block;
    align-content: center;
    background-color: var(--color-bg-primary);
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 50px;
}

h4 {
    font-size: 40px;
}

h5 {
    font-size: 30px;
}

h6 {
    font-size: 20px;
}
* {
    
    user-select: none;
}

/*
NOTE Navigation bar
*/
nav {
    width: 100%;
    height: 125px;

    flex-direction: row;
    justify-content: space-between;

    background-color: transparent;
}

nav ul {
    list-style: none;
}

nav ul > li {
    display: inline-block;

    width: 6em;
    height: 3em;
    line-height: 3em;
}

nav ul > li > a {
    display: block;
    text-align: center;
    color: var(--color-navbar-btn);
    transition: background-color 500ms ease-out 50ms;
}

nav ul > li > a:hover, .selected {
    background-color: #24354F;
    box-shadow: 0px 3px 4px -2px #24354F;
}

nav img {
    width: 5em; 
    height: 5em;
    padding: 10px;
    
    filter: brightness(0%) saturate(100%) invert(100%);
}

/*
NOTE Header
*/
header {
    padding: 2vh;

    /* background: repeating-conic-gradient(from 45deg,var(--color-bg-primary) 0deg 90deg,#24354F 90deg 180deg); */
    /* background-size: 5em 5em; */

    justify-content: space-between;
}

header > .brief-text {
    width: 75%;

    flex-direction: column;
}

header > .brief-text > .title {
    color: white;
    font-size: 60px;
    font-weight: 700;
    font-family: var(--font-secondary);

    line-height: 75px;
    letter-spacing: 2px;
}

header > .brief-text > .title > span {
    color: var(--color-special);
    font-size: 60px;
    font-weight: 700;
    font-family: var(--font-secondary);

    line-height: 75px;
    letter-spacing: 2px;
}

header > .brief-text > .subtitle {
    color: rgba(255, 255, 255, 0.6);

    font-size: 14px;
    font-weight: 500;
    font-family: var(--font-secondary);

    text-transform: uppercase;

    letter-spacing: 3px;
}

header > .brief-text > .content {
    color: rgba(255, 255, 255, 0.6);

    font-size: 22px;
    font-weight: 400;
    font-family: var(--font-primary);

    padding-right: 200px;

    line-height: 30px;
}

.brief-btns {
    margin-top: 3em;

    flex-direction: column;
}

.brief-btns > .title {
    color: rgba(255, 255, 255, 0.6);

    font-size: 28px;
    font-weight: 500;
    font-family: var(--font-secondary);

    text-transform: uppercase;

    letter-spacing: 3px;
}

.brief-btns ul {
    list-style: none;
}

.brief-btns ul > li > a {
    width: 64px;
    height: 64px;

    border: 1px solid;
    border-radius: 25px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);

    align-items: center;
    justify-content: center;

    color: white;
    background-color: var(--color-navbar-btn);

    transition: background-color 500ms ease-out 50ms;
}

.brief-btns ul > li > a:hover {
    background-color: var(--color-special);
    box-shadow: 0px 3px 4px -2px #24354F;
}

.parallax-container {
    z-index: -1;
    width: 25%;

    align-items: center;
    justify-content: center;
}
.code-parallax {
    min-width: 400px;
    min-height: 400px;
    width: 400px;
    height: 400px;

    background-image: url('/assets/code-parallax-2.png');

    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: content;

    clip-path: var(--clip-path-special)
}
.code-parallax-shadow {
    min-width: 420px;
    min-height: 420px;

    position: absolute;

    box-shadow: inset 0 0 75px 3.5em rgba(20, 72, 75, 0.9);
    clip-path: var(--clip-path-special);
}
.code-parallax-line-container {
    min-height: 420px;
    min-width: 420px;

    position: absolute;

    background-color: var(--color-bg-primary);
    clip-path: var(--clip-path-special);
    
    animation: beat 2s linear infinite alternate;
}
@keyframes beat {
    from {
        background-color: #182334b7
    }
    to {
        background-color: rgba(0, 0, 0, 0.5);
    } 
}