@use '../libs/include-media' as *;
@use '../utilities/variables' as *;

main {
    section {
        margin-top: 10vh;
        padding-top: 5vh;
        flex-direction: column;

        .title {
            text-align: center;
        }
        .subtitle {
            color: orange;
            letter-spacing: 1px;

            text-align: center;
        }
    }
}