@use '../libs/include-media' as *;
@use '../utilities/variables' as *;

.resume {
    flex-wrap: wrap;
    flex-direction: row;

    justify-content: center;

    .categories {
        gap: 0;
        flex: 1;
        flex-wrap: wrap;
        flex-direction: row;

        justify-content: center;
        button {
            height: 3em;
            width: 20em;

            color: $color-btn-text;
            background-color: $color-bg-primary;

            font-size: 18px;
            font-weight: 700;
            font-family: $font-secondary;
            
            border: none;
            border-radius: 10px;
            box-shadow: 0px 0px 5px 1px $color-btn-accent;

            &:hover, &.selected {
                background-color: $color-btn-accent;
                box-shadow: 0px 0px 5px 1px $color-btn-accent;
                transition: background-color 500ms ease-out 50ms;
            }
        }
    }
    .categories_frames {
        div:not(.active-anim) {
            display: none;
        }
    }
}